[submodule "components/loadprogs"]
	path = components/loadprogs
	url = git@github.com:guziy/loadprogs_python.git
	branch = mod_txt
[submodule "components/surge_validation"]
	path = components/surge_validation
	url = git@github.com:guziy/surge_validation.git
	branch = surgemip
