
[mod]
datestart_mod=@DATESTART_MOD@
dateend_mod=@DATEEND_MOD@

# shift between date in the name of the experiment (contained in the output files)
# and the actual simulation start
dt_texp_from_tbeg_hours=0

# frequency of the experiments to be scored
run_freq_hours=1

# frequency of the experiments to remove long term mean
b2b_max_lead_hour=1
b2b_min_lead_hour=0

# observation and model data folders
nmembers=0 # including the control member
control_member_id=""
control_filename_suffix=""
mod_datatype=point_txt
mod_dir=@MODEL_PATH@
mod_nomvar=@MOD_NOMVAR@
mod_read_nprocs=10

detide_mod=@DETIDE_MOD@
detide_mod_filtering=0


[obs]
datestart_obs=@DATESTART_OBS@
dateend_obs=@DATEEND_OBS@

detide_obs=@DETIDE_OBS@
detide_obs_filtering=0


station_info=/home/olh001/Python/surgemip/data/obs/gesla3_surgemip.obs
obs_transpose_mod_indices=0


obs_datatype=txt
# _v3 masked few weeks in Oct 2017 to avoid scoring the bust in ADCIRC
# _v4 masked all since Sept 2017 to Dec 2017 to avoid scoring the bust in ADCIRC
obs_dir=/home/olh001/Python/surgemip/data/obs/GESLA3_loadprogs_v5

min_nhours_for_detiding=720 # 1 month hourly


[misc]
plot_detiding_diag=0
label=@LABEL@

# output directory
prepared_for_scoring_dir=@OUT_DIR@
remove_analysis_period_mean=true
