
# for TWL evaluation
declare -A label_to_mod_path=([ECCC_GDSPS]=data/model/clean/hourly/gdsps_eccc.txt)

declare -A label_to_nomvar=([ECCC_GDSPS]=2)

declare -A label_to_detidemod=([ECCC_GDSPS]=0)

declare -A label_to_detideobs=([ECCC_GDSPS]=0)


y_beg=2013
y_end=2018


declare -A label_to_merged_loadprogs_outfile=([ECCC_GDSPS]=data/loadprogs/${EXP_ID}/merged_ECCC_GDSPS_${y_beg}-${y_end}.dat)
                               
