
# for TWL evaluation
declare -A label_to_mod_path=([ECCC_GDSPS]=data/model/clean/gdsps_eccc.txt
                              [UND-ANL_GADCIRC-btp]=data/model/clean/UND_ANL_GlobalADCIRC_barotropic_hourly.csv)


declare -A label_to_nomvar=([ECCC_GDSPS]=2
                            [UND-ANL_GADCIRC-btp]=2)

declare -A label_to_detidemod=([ECCC_GDSPS]=0
                               [UND-ANL_GADCIRC-btp]=0)


declare -A label_to_detideobs=([ECCC_GDSPS]=0
                               [UND-ANL_GADCIRC-btp]=0)


y_beg=2013
y_end=2018


declare -A label_to_merged_loadprogs_outfile=([ECCC_GDSPS]=data/loadprogs/${EXP_ID}/merged_ECCC_GDSPS_${y_beg}-${y_end}.dat
                                     [UND-ANL_GADCIRC-btp]=data/loadprogs/${EXP_ID}/merged_UND-ANL_GADCIRC-btp_${y_beg}-${y_end}.dat)
                               
